---
layout: default
description: Andi Happy, andiHappy, 飞翔的面包, FlyBread Blog
keywords: 技术,programmer,翟,andiHappy,
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.excerpt }}
        </div>
        <!-- <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div> -->
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}


<div class="postlist">
    {% for post in paginator.posts %}
    <div class="overview">
        <div class="date"> {{ post.date | date: "%b %d, %Y" }} </div>
        <div class="detail"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>

        </div>
    </div>
    {% endfor %}
</div>

{% include pagination.html %}
